
<div *ngIf="direccion">
    <h2><span jhiTranslate="truequepApp.direccion.detail.title">Direccion</span> {{direccion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="truequepApp.direccion.direccion">Direccion</span></dt>
        <dd>
            <span>{{direccion.direccion}}</span>
        </dd>
        <dt><span jhiTranslate="truequepApp.direccion.numero">Numero</span></dt>
        <dd>
            <span>{{direccion.numero}}</span>
        </dd>
        <dt><span jhiTranslate="truequepApp.direccion.adicional">Adicional</span></dt>
        <dd>
            <span>{{direccion.adicional}}</span>
        </dd>
        <dt><span jhiTranslate="truequepApp.direccion.codigoPostal">Codigo Postal</span></dt>
        <dd>
            <span>{{direccion.codigoPostal}}</span>
        </dd>
        <dt><span jhiTranslate="truequepApp.direccion.comuna">Comuna</span></dt>
        <dd>
            <div *ngIf="direccion.comunaId">
                <a [routerLink]="['/comuna', direccion.comunaId]">{{direccion.comunaId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="truequepApp.direccion.tipo">Tipo</span></dt>
        <dd>
            {{direccion.tipoId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'direccion/'+ direccion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
