<div>
    <h2>
        <span jhiTranslate="truequepApp.oferta.home.title">Ofertas</span>
        <button class="btn btn-primary float-right jh-create-entity create-oferta" [routerLink]="['/', { outlets: { popup: ['oferta-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="truequepApp.oferta.home.createLabel">
            Create new Oferta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ofertas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="truequepApp.oferta.generarOferta">Generar Oferta</span></th>
            <th><span jhiTranslate="truequepApp.oferta.tipoObjeto">Tipo Objeto</span></th>
            <th><span jhiTranslate="truequepApp.oferta.generaOferta">Genera Oferta</span></th>
            <th><span jhiTranslate="truequepApp.oferta.cliente">Cliente</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let oferta of ofertas ;trackBy: trackId">
                <td><a [routerLink]="['../oferta', oferta.id ]">{{oferta.id}}</a></td>
                <td>{{oferta.generarOferta}}</td>
                <td jhiTranslate="{{'truequepApp.TipoObjeto.' + oferta.tipoObjeto}}">{{oferta.tipoObjeto}}</td>
                <td>
                    <a *ngIf="oferta.generaOferta" (click)="openFile(oferta.generaOfertaContentType, oferta.generaOferta)">
                        <img [src]="'data:' + oferta.generaOfertaContentType + ';base64,' + oferta.generaOferta" style="max-height: 30px;" alt="oferta image"/>
                    </a>
                    <span *ngIf="oferta.generaOferta">{{oferta.generaOfertaContentType}}, {{byteSize(oferta.generaOferta)}}</span>
                </td>
                <td>
                    {{oferta.clienteId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../oferta', oferta.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'oferta/'+ oferta.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'oferta/'+ oferta.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
