<div>
    <h2>
        <span jhiTranslate="truequepApp.comuna.home.title">Comunas</span>
        <button class="btn btn-primary float-right jh-create-entity create-comuna" [routerLink]="['/', { outlets: { popup: ['comuna-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="truequepApp.comuna.home.createLabel">
            Create new Comuna
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comunas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="truequepApp.comuna.nombreComuna">Nombre Comuna</span></th>
            <th><span jhiTranslate="truequepApp.comuna.region">Region</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comuna of comunas ;trackBy: trackId">
                <td><a [routerLink]="['../comuna', comuna.id ]">{{comuna.id}}</a></td>
                <td>{{comuna.nombreComuna}}</td>
                <td>
                    <div *ngIf="comuna.regionId">
                        <a [routerLink]="['../region', comuna.regionId  ]" >{{comuna.regionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../comuna', comuna.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comuna/'+ comuna.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comuna/'+ comuna.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
